@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2em 14em;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

ul a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0 14em 2em 14em;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    width: 50%;;
}

.header-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-btn,
.content-3-btn {
    background-color: #3882F6;
    padding: 0.5em 2em;
    border-radius: 0.75em;
    color: #E5E7EB;
    width: 120px;
}

.header-right {
    background-color: lightgray;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 50%;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 2rem;
}

.content-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 12em;
    padding-bottom: 4em;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-1-img,
.card-2-img,
.card-3-img,
.card-4-img {
    width: 8em;
    height: 8em;
    border: 2px solid blue;
    border-radius: 20px;
    display: flex;
} 

.card-1-text,
.card-2-text,
.card-3-text,
.card-4-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}

.content-2 {
    background-color: #E5E7EB;
    padding: 2em 18em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content-2-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.content-2-author {
    font-weight: bold;
    padding-top: 1em;
    padding-left: 24em;
}

.content-3-container {
    background-color: #3882F6;
    margin: 4em 18em;
    border-radius: 10px;
    height: 6em;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
}

.content-3-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.25em;
    color: #E5E7EB;
}

.content-3-title {
    font-size: 18px;
    font-weight: bold;
}

.content-3-right {
    display: flex;
    align-self: center;
    flex-shrink: 0;
    width: 20%;
}

.footer {
    background-color: #1F2937;
    padding: 2em;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.github-link {
    text-decoration: none;
    color: black;
}